/* Add your Google fonts imports here: */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Add your regular CSS styles below. Example: */

  .background {
    background-image: url('../public/bg-mobile.svg');
    background-size: cover;
  }  

  @media ( min-width: 576px) {
    .background {
      background-image: url('../public/bg-desktop.svg');
      background-size: cover;
    }  
  }
